@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
}

.roboto-style-font {
  font-family: "Roboto";
}

.pg-default-width {
  width: 1280px;
  margin: 0 auto;
}

.subtitle-h1 {
  margin-bottom: 5px;
  font-size: 2.1rem;
  font-weight: 700;
}

.subtitle-h2 {
  color: #000;
  opacity: 0.8;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

img, svg {
  vertical-align: middle;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.background-image-style {
  background-image: url(/images/background4.jpg);
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem 4rem 3rem;
  display: flex;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.background-image-style::after {
  content: "";
  position: absolute;
  inset: -10px;
  background: inherit;
  filter: blur(3px);
  transform: scale(1.1);
  z-index: 0;
}
.background-image-style .profile-card {
  z-index: 1;
  position: relative;
  text-align: center;
  border-radius: 10px;
  width: 25rem;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.background-image-style .profile-card .profile-image-card {
  border: 3px solid #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transition: all 0.3s;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1019607843);
}

.social-links {
  justify-content: space-around;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  display: flex;
}
.social-links .cv-width a img {
  width: 34px;
  opacity: 95%;
}
.social-links li img {
  width: 35px;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.social-links li img:hover {
  transform: scale(1.4);
}

.hard-skills {
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1.5rem 5px 1.5rem;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
}
.hard-skills .skills__title {
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 8px;
  font-size: 1.7rem;
  font-weight: 700;
}
.hard-skills .sectiontwo__badges {
  margin: 0 auto;
}
.hard-skills .sectiontwo__badges .sectiontwo__subtitle {
  font-weight: 500;
  border-bottom: 1px solid #a8a8a8;
}
.hard-skills .sectiontwo__icon-container {
  cursor: pointer;
  margin: 0 auto 2rem;
  padding: 0.6rem;
  display: inline-block;
  position: relative;
}
.hard-skills .sectiontwo__language-icon {
  transition: transform 1s;
}
.hard-skills .sectiontwo__language-icon:hover {
  transform: rotateY(360deg);
}
.hard-skills .sectiontwo__language-icon:hover ~ .sectiontwo__language-name {
  opacity: 1;
}
.hard-skills .sectiontwo__language-name {
  color: #fff;
  opacity: 0;
  background-image: url(/images/background.png);
  background-position: 50%;
  border-radius: 8px;
  padding: 2px 5px;
  font-size: 1.1rem;
  transition: opacity 0.3s, transform 0.3s;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}
.hard-skills .with-heart {
  display: flex;
}
.hard-skills .with-heart i {
  color: red;
  padding: 0 5px;
}
.hard-skills .with-heart i::before {
  vertical-align: -0.2rem !important;
}

.soft-skills {
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
}
.soft-skills .skills__title {
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 8px;
  font-size: 1.7rem;
  font-weight: 700;
}
.soft-skills .skill-button {
  cursor: crosshair;
  color: #000;
  background-color: #ffffff;
  border: 1px solid #a8a8a8;
  border-radius: 25px;
  margin: 0.5rem 3px;
  padding: 12px 20px;
  font-weight: 700;
  background-position: 50%;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out, color 0s ease-in-out;
}
.soft-skills .skill-button:hover {
  background-image: url(/images/background3.png);
  background-position: 75%;
  color: white;
}
.soft-skills .skill-button i::before, .soft-skills .skill-button .card-body i::before {
  vertical-align: -0.125rem !important;
  padding: 3px;
}

.executed-projects {
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto 1rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
}
.executed-projects .executed-projects__title {
  border-bottom: 1px solid #a8a8a8;
  margin-bottom: 2rem;
  padding-bottom: 8px;
  font-size: 1.7rem;
  font-weight: 700;
}
.executed-projects .project-card {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.executed-projects .project-card .img-executed-challenge {
  overflow: hidden;
  height: 50px;
  position: relative;
  transition: height 0.5s ease-in-out;
}
.executed-projects .project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.384);
}
.executed-projects .project-card:hover .glass-shine-effect:before {
  transition: left 600ms ease;
  left: 700px;
}
.executed-projects .project-card .card-img-top {
  border-radius: 12px 12px 0 0;
}
.executed-projects .project-card .card-body {
  padding: 1.5rem;
}
.executed-projects .project-card .card-body .card-text1 {
  opacity: 0.7;
  border-bottom: 1px solid #a8a8a8;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.executed-projects .project-card .card-body .card-text2 {
  text-align: left;
  opacity: 0.9;
}
.executed-projects .project-card .card-body .card-text3 {
  opacity: 0.9;
  text-align: justify;
  font-size: 1rem;
}
.executed-projects .project-card .card-body .btn {
  background-image: url(/images/background.png);
  background-position: 50%;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0);
}
.executed-projects .project-card .card-body .btn:hover {
  background-position: 80%;
  border: 1px solid rgb(0, 132, 255);
  transform: scale(1.02);
  letter-spacing: 0.1px;
}

.areas-atuacao {
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
}
.areas-atuacao .areas-atuacao__title {
  border-bottom: 1px solid #a8a8a8;
  margin-bottom: 2rem;
  padding-bottom: 8px;
  font-size: 1.7rem;
  font-weight: 700;
}
.areas-atuacao .card {
  cursor: crosshair;
  background-image: url(/images/background3.png);
  background-position: 50%;
  border: none;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: transform 0.3s;
}
.areas-atuacao .card:hover {
  background-position: 100% 100%;
  border: 1px solid rgb(0, 132, 255);
  transform: scale(1.04);
  letter-spacing: 0.2px;
}
.areas-atuacao .card .card-title {
  color: #fff;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 900;
}
.areas-atuacao .card-body {
  padding: 8px;
}

.footer {
  text-align: center;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 1rem auto 0;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4);
}
.footer a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.footer .footer__title {
  border-top: 1px solid #a8a8a8;
  margin: 0 auto;
  padding-top: 12px;
  font-size: 1rem;
}
.footer .footer__social-links {
  justify-content: center;
  margin-top: 1rem;
  display: flex;
}
.footer .footer__social-links li {
  margin-right: 1rem;
}
.footer .footer__social-links li img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}
.footer .footer__social-links li img:hover {
  transform: scale(1.4);
}
.footer .footer__copy {
  color: #000;
  max-width: 100%;
  font-size: 1rem;
}

.accordion {
  border: none;
  border-radius: 12px !important;
}
.accordion .accordion-item .card-title-challeng {
  font-size: 14px;
  z-index: 100;
}
.accordion .accordion-item:last-of-type {
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}
.accordion .accordion-item #collapseOne {
  padding: 0 !important;
}
.accordion .accordion-item .accordion-button-project {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: center;
  background-color: var(--bs-accordion-btn-bg);
  border-radius: 0 0 12px 12px !important;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
.accordion .accordion-item .accordion-button-project::after {
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  content: "";
  margin-left: auto;
  background-image: url(/images/chevron-compact-down.svg);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.accordion .accordion-item .accordion-button-project:not(.collapsed)::after {
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion .accordion-item:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion .accordion-item .accordion-body {
  padding: 0 !important;
}
.accordion .accordion-item .accordion-body .card-body {
  padding: 2px 12px 12px 12px !important;
}

.glass-shine-effect-profile {
  margin: 0 auto;
  background-color: #400096;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 8px 32px 0 rgba(107, 107, 107, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  transition: transform 200ms ease;
  overflow: hidden;
}
.glass-shine-effect-profile::before {
  content: "";
  position: absolute;
  height: 150%;
  width: 50px;
  transform: rotate(30deg);
  background-color: rgba(255, 255, 255, 0.2);
  left: -100px;
}
.glass-shine-effect-profile:hover {
  transform: scale(1.1);
}
.glass-shine-effect-profile:hover::before {
  transition: left 500ms ease;
  left: 170px;
}

.glass-shine-effect {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  transition: transform 200ms ease;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}
.glass-shine-effect:before {
  content: "";
  position: absolute;
  height: 150%;
  width: 100px;
  transform: rotate(30deg);
  background-color: rgba(255, 255, 255, 0.2);
  left: -200px;
}

#project-btn {
  transition: transform 0.3s ease-in-out;
}

.highlight-btn {
  transform: scale(1.1);
}

/* Custom Tooltip */
.custom-tooltip .tooltip-inner {
  max-width: 500px;
  padding: 0.5rem;
  color: white;
  border: 1px solid white;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.custom-tooltip.show {
  opacity: 0.95;
  transition: opacity 0.5s ease-in-out;
}

.bg-white-page {
  background-color: #F6F7F9;
}

/*# sourceMappingURL=index.css.map */
